/*VARIABLES GLOBALES*/
/*https://colorhunt.co/palette/281939*/

:root{
    --primario:#ffffc7;
    --secundario:#233e8b;
    --verdeAgua:#a9f1df;
    --verde:#1eae98;
    --fuentePpal:'Baloo Tammudu 2', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



